{% extends 'base.html' %}
<!-- **************** MAIN CONTENT START **************** -->
{% block content %}
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Sign in START -->
        <div class="card card-body text-center p-4 p-sm-5">
          <!-- Title -->
          <h1 class="mb-2">Enter OTP</h1>
          
          <!-- Form START -->
          <form class="mt-sm-4" method="post" action="/post/verify_otp/{{id}}">
            <!-- Email -->
            <div class="mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="OTP" name="otp" pattern="[0-9]+" required>
            </div>
            <!-- New password -->
            
            <!-- Remember me -->
            
            <!-- Button -->
            <p>You have {{4-attempts}} attempts left</p>
            <div class="d-grid"><button type="submit" style="background-color: palevioletred;" class="btn btn-lg text-white">Verify OTP</button></div>
            <!-- Copyright -->
            
          </form>
          <!-- Form END -->
        </div>
        <!-- Sign in START -->
      </div>
    </div> <!-- Row END -->
  </div>
  <!-- Conta1iner END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
 

<!-- =======================
JS libraries, plugins and custom scripts -->
{% endblock %}
<!-- Bootstrap JS -->



