{% extends 'base.html' %}
{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
  
  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Sign in START -->
        <div class="card card-body text-center p-4 p-sm-5">
          <!-- Title -->
          <h1 class="mb-2">Enter Details</h1>
          
          <!-- Form START -->
          <form class="mt-sm-4" method="post" action="/post/user" enctype="multipart/form-data">
            <!-- Email -->
            <div class="mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="Name" pattern="[a-zA-Z]+" name="name">
            </div>
            <div class="mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="Username" attern="[a-zA-Z]+" name="username">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Upload Profile Picture</label>
                <input type="file" class="form-control" id="inputGroupFile01" name="file" accept="image/*" required>
              </div>
            <!-- New password -->
            
            <!-- Remember me -->
            
            <!-- Button -->
            
            <div class="d-grid"><button type="submit" style="background-color: palevioletred;" class="btn btn-lg text-white">Submit</button></div>
            <!-- Copyright -->
            
          </form>
          <!-- Form END -->
        </div>
        <!-- Sign in START -->
      </div>
    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
 

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
{% endblock %}
 


